In [1]:
import sqlite3

conn = sqlite3.connect(":memory:")  # In-memory database
cursor = conn.cursor()

In [2]:
cursor.execute("""
CREATE TABLE student_code (
    id INTEGER PRIMARY KEY,
    student_name TEXT,
    code TEXT,
    score INTEGER
)
""")

In [8]:
formatted_code = """
x = 10
print(x)
"""  # Example Python code as string

cursor.execute("""
INSERT INTO student_code (student_name, code, score)
VALUES (?, ?, ?)
""", ("Swathi", formatted_code, 85))

conn.commit()

In [9]:
cursor.execute("SELECT * FROM student_code")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Swathi', '\nx = 10\nprint(x)\n', 85)